.abt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 91px;
    color: rgb(0, 0, 0);
    background:linear-gradient(rgba(0, 0, 0, 0.537),rgba(0, 0, 0, 0.532)), url(./images/abtbnner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    margin-top: 60px;
    z-index: 2;
}
.abt h1{
    color: white;
    font-size: 70px;

}



#abtsection{
    background: black;
    margin-bottom: 30px;
}

.abt-footer{
    position:none;
    margin-top: -30px;
}

.content{
    background: black;
    color: white;
    margin:40px 60px;
    line-height: 25px;
}

.content a{
    color: rgba(0, 0, 255, 0.804);
}

.contactabt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.map{
    margin-right: 40px;

}
.map iframe{
    border-radius: 5px;
}
.contactabt h2{
    color: rgba(255, 255, 255, 0.703);
}
.contactabt h3{
    color: gray;
}
